.jumbotron {
  padding-top: 6rem;
  background-color: #dfdede;
}

#galeri {
  background-color: #dfdede;
}

section {
  padding-top: 5rem;
}

#mp {
  text-shadow: 0px 3px 5px black;
  font-size: 28px;
}

@font-face {
  font-family: "Gravedi";
  src: url("./font/GravediggerPersonalUse-K7ayW.ttf") format("truetype");
}
@font-face {
  font-family: "street";
  src: url("./font/KeepSinging-ao1K.ttf") format("truetype");
}

.navbar-brand {
  font-family: Gravedi, arial;
}

.display-4 {
  font-family: street;
  font-size: 43px;
}
